* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.main-container {
  height: 100vh;
  width: 100%;
  background-color: #84a98c;
}
.another {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbd0ff;
  height: 59vh;
  width: 61vw;
  border-radius: 20px;
  animation: majid 1s ease infinite;
}
.heading {
    border-right: 1px solid black;
    height: 264px;
    margin-left: -35px;
  }



h1 {
  font-size: 34px;
  position: absolute;
  left: 445px;
  text-align: center;
  bottom: 284px;
 animation-name: majid1;
 animation-duration: 1s;
 animation-delay: 0.5;
 animation-timing-function: ease;
 animation-iteration-count: infinite;


}
@keyframes majid1 {
    from{
color: black;
font-size: 34px;
    }
    to{
color: crimson;
font-size: 38px;
    }  
    
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    margin-top: 12px;
    position: absolute;
right: 326px;
top: 180px;
}

button{
    padding: 7px 20px;
margin-top: 15px;
border-radius: 30px;
text-align: center;
background-color: crimson;
border: 2px solid crimson;
color: white;
}

input{
    padding: 12px 80px;
border-radius: 25px;
margin: 4px;
text-align: center;
}
